.form-container {
    background-color: rgb(0 0 0 / 0.2);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.form-container.shown {
    transform: scale(1);
}

.expense-form {
    position: relative;
    width: 28rem;
    max-width: 95%;
    background-color: #fff;
    padding: 2.5rem 4rem;
    border-radius: 1rem;
}

.expense-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.expense-form .close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1rem;
}

.expense-form .close-button i {
    font-size: inherit;
}

.basic-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

.basic-form input,
.basic-form select,
.basic-form textarea {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

[type="submit"] {
    margin-top: 1rem;
    align-self: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: .5rem 1.2rem;
    color: #fff;
    background-color: cadetblue;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

[type="submit"] i {
    font-size: 0.75em;
}

[type="submit"]:hover {
    color: black;
    background-color: chocolate;
}